 
.main-form{
    background: linear-gradient(to right, #efe9ed, #e1b4d3);
    border: 1;
    width: 800px;
    padding-left: 30px;
    padding-right: 30px;
    
}

 
.name-form{
    display: flex; 
    justify-content:space-around
}
 
.label1{
    font-size: 25px;
}
.input1{
    width: 300px;
    height: 25px;
}
 #date-label{
    font-size: 25px;    
 }
 .date{
    width: 200px;
    height: 40px;
    font-size: 20px;
    
 }
.date-box{
    display: flex;
    justify-content:space-around;
    

 }

 .date{
    width: 200px;
 }
.con-form{
    display: flex; 
    justify-content:space-around;
}
.con-form-box{
    width: 280px;
    height: 25px;
}
.email-tag{
    /* padding-left: 20px; */
    width: 300px;     
}
.con-label{
    display: flex;
    font-size: 20px;
}

#gender-label{
    display: block;
    padding-left: 5px;
    font-size: 25px;
}
.gender1{ 
    font-size: 25px;
     gap:10px;
}
#address-label{
    display: block;
    font-size: 25px;
}
#address-box{
    font-size: 15px;
}

#address-info{
    display: flex;
    justify-content: space-evenly;
   
}
.address-label{
    display:flex; 
    font-size: 20px;
     
}
.address-input{
    font-size: 20px;
}
#country-label{
    font-size: 25px;
}

#country-select{
    width:650px;
    height: 35px;
    font-size: 20px;
}
#Hobby-option1{
    display: flex;
    gap:130px; 
    font-size: 20px; 
}
#Hobby-option2{
    display: flex;
    gap:130px;
    font-size: 20px; 
}


#Hobbies-label{
    display: block;
    
}

table{
    display: block;
    height: 200px;
    border:1px white;
    background-color:white;
   
    
}
#QUalification-label{
    font-size: 20px;
}
#check-box1{
    font-size: 20px;  
}
#check-box2{
    display: flex;
    font-size: 20px; 
    gap:15px; 
}
.button-bar{
     display: flex;
     justify-content: flex-end;
     gap: 10px;
}
button{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    

}

#submit-button{
    
        text-align: center;
        padding: 12px 0;
        margin: 0;
    
        color: white;
       
    
        background: linear-gradient(to right, #7b2ff7, #f107a3);
    }

#form3{
    margin-top: 30px;
    border: 1px solid black;
    text-align: center;
    width: 855px;
    height: 50px;
    color:rgb(17, 187, 17);
    background-color:whitesmoke;
    font-weight: bold;
    font-size: 26px;
padding-bottom: 20px;
}

#form2{
    margin-top: 30px;
    border: 1px solid black;
    text-align: center;
    width: 855px;
    height: 50px;
    color:white;
    background: linear-gradient(to right, #7b2ff7, #f107a3);
    font-size: 20px;
    font-weight: bold;
padding-bottom: 20px;
}

#form1{
    margin-top: 30px;
    border: 1px solid black;
    text-align: center;
    width: 855px;
    height: 50px;
    /* color:blue; */
    background-color:whitesmoke;
    color: #4447f8;        
    font-weight: bold;
    font-size: 26px;
padding-bottom: 20px;
}
    

 
 
 
 
 
